body {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    background: white;
}

h1 {            
    padding-top: 7em;
    font-family: 'Great Vibes', cursive;
    font-style: normal;
}

h1.notop {
    padding-top: 0;
}

h2, h3, h4, h5, h6 {
    font-family: 'Rokkitt', serif;
}

h3, h4, h5, h6 {
    text-align: center;
    font-size: 2.5em;
}

div.calendardate {
    text-align: center;
    margin: 2em auto;
    width: 8em;
    background: white;
    color: black;
    border: 3px solid rgb(161, 187, 202);
    font-size: 2em;
    border-radius: 4px;
    box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.5);
}

div.month {
    background: rgb(161, 187, 202);
    padding: 0.25em;
}

div.day {
    font-size: 3em;
    font-family: 'Great Vibes';
    padding: 0;
}

div.eventtitle {
    background: rgb(238, 234, 205);
    font-size: 0.5em;
    padding: 1.0em;
}

p.signature {
    line-height: 0.5em;
    margin: 4em;
    padding-left: 2em;
}

span.name {
    font-family: 'Great Vibes';
    font-size: 2.2em;
}

#locationmap {
    height: 80%;
    background: white;
}

#slides {
    display: none;
    background: white;
    padding: 3px;
    text-align: center;
}

#slides a {
    text-decoration: none;
    font-style: none;
}

#slides .slidesjs-navigation {
    margin-top: 3px;
    font-family: FontAwesome;
    font-size: 36pt;
}

#slides .slidesjs-previous {
    margin-right: 5px;
    float: left;
}

#slides .slidesjs-next {
    margin-right: 5px;
    float: right;
}

.slidesjs-pagination {
    margin: 5px 5px 5px 5px;
    padding: 0;
    text-align: center;
    list-style: none;
}

.slidejs-pagination ul {
}

.slidesjs-pagination li {
    float: left;
    margin: 2px;
}

.slidesjs-pagination li a {
    display: block;
    width: 15px;
    height: 0;
    padding-top: 15px;
    background-image: url(../images/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -18px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -36px
}

/* Hide pagination control if screen is too small */
@media only screen and (max-width : 600px) {
    .slidesjs-pagination {
        display: none;
    }    
}

#slides a:link,
#slides a:visited {
    color: rgb(184, 83, 73);
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}

#slidecontainerholder {
    max-width: 800px;
    margin: 0 auto;
}

div.fadein {
    opacity: 1;
    transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -webkit-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
}

div.fadedout {
    opacity: 0;
}

div.picture_slide {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: black;
}
