body {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    background: white;
    background-image: url(../images/background-image.png);
}

h1 {            
    padding-top: 7em;
    font-family: 'Great Vibes', cursive;
    font-style: normal;
}

h1.notop {
    padding-top: 0;
}

h2, h3, h4, h5, h6 {
    font-family: 'Rokkitt', serif;
}
